{% extends "base.html" %}
{% block title %}Editor Page{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/easymde.min.css')}}">
<div class="m-2">
    <label for="topic" 
    class="text-ink-muted m-4">Title of the Post:</label>
    <br>
    <input id="topic" name="topic" type="text" placeholder="Enter a title"
    class="border border-border-soft rounded-md p-2 m-4 w-1/4  bg-input" required>
    <br>
    <label for="body" class="text-ink-muted m-4">Content:</label>
    <br>
</div>
<div class="flex justify-between">
    <div class="w-1/2 h-87.5 m-4">
        <textarea name="body" id="body" required></textarea>
    </div>
    <div class="prose prose-headings:m-2 prose-p:m-2 prose-li:m-2 prose-ol:m-2 
    prose-hr:my-4 prose-pre:m-2 max-w-none border rounded-sm w-1/2 h-99.5 m-4 overflow-auto" id="output">
    </div>
</div>
<script src="{{ url_for('static', filename='js/easymde.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/marked.umd.js')}}"></script>
<script src="{{ url_for('static', filename='js/script.js')}}"></script>
<script></script>
<div class="flex flex-1 items-center">
    <button onclick="submitPost()" type="button" 
    class="mt-2 bg-accent text-white p-2 m-4 w-1/8 cursor-pointer hover:bg-accent-hover">Submit</button>
    <a class="text-ink-muted block underline cursor-pointer">Logout</a>
</div>
{%endblock%}