{% extends "base.html" %}
{% from "partials/card.html" import card %}
{% block title %}Home{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="border border-l-5 border-amber-400 rounded-md w-50 h-10 m-4 flex items-center">
                <p class="text-center m-2 text-amber-400">{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="p-2 m-2 mx-auto max-w-2xl">
    <h1 class="text-4xl font-serif">Vault 7</h1>
    <p class="text-ink-muted font-serif">Explore Tech, Culture & Digital Rights with me</p>
</div>
{% for post in all_posts %}
    {{ card(post) }}
{% endfor %}
{%endblock%}