{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
{% if request.args.get('msg') %}
    <p>{{ request.args.get('msg') }}</p>
{% endif %}
<h2 id="id1">{{heading}}</h2>
<a href="{{url_for('post')}}">Create a Post</a>
{% if all_posts %}
<h3>All Posts:</h3>
    {% for post in all_posts %}
        <li>{{ post.id }}.{{ post.title }} - created_at: {{ post.created_at | local_timezone }}</li>
        <a href="{{url_for('show_post', id=post.id)}}">read</a>
        <hr>
    {% endfor %}
{% else %}
    <p>No posts available</p>
{% endif %}
<!--script src="/js/script.js"></script-->
{%endblock%}