{% extends "base.html" %}
{% from "partials/card.html" import card %}
{% block title %}Home{% endblock %}
{% block content %}
{% if request.args.get('msg') %}
    <p>{{ request.args.get('msg') }}</p>
{% endif %}
<div class="p-2 m-2 mx-auto max-w-2xl">
    <h1 class="text-4xl font-serif">Vault 7</h1>
    <p class="text-ink-muted font-serif">Explore Tech, Culture & Digital Rights with me</p>
</div>
{% for post in all_posts %}
    {{ card(post) }}
{% endfor %}
<!--script src="/js/script.js"></script-->
{%endblock%}