{% extends "base.html" %}
{% block title %}Login Page{% endblock %}
{% block content %}
{% if error %}
<p class="error">{{ error }}</p>
<a href="{{url_for('login')}}">Login Page</a>
{% else %}
<div class="h-screen flex items-center justify-center">
    <!--Login Form-->
    <div class="bg-blue-300 w-80 p-4 rounded-md hover:shadow-2xl transition duration-350">
        <div class="text-3xl mb-4 text-center">Login</div>
        <form action="/login" method="post">
            <div class="mb-4">
                <label for="username">Email</label>
                <input type="text" name="username" id="username" class="border rounded-md p-2 w-full">
            </div>
            <div class="mb-4">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="border rounded-md p-2 w-full">
            </div>
            <button class="bg-blue-600 text-white p-2 w-full rounded-md">Login</button>
        </form>
    </div>
</div>
{% endif %}
{%endblock%}